[submodule "external/pthash"]
	path = external/pthash
	url = https://github.com/jermp/pthash.git
[submodule "external/SicHash"]
	path = external/SicHash
	url = https://github.com/ByteHamster/SicHash.git
